<div class= "card">
    <form class= "title" >
        <label class="card-header">Title</label>
        <input type="text" class="title"/>
        <label class = "card-body">Contents</label>
        <textarea></textarea>
        <button>create</button>
        <div id="date"></div>


    </form>
</div>