<div>
    <form class= "title">
        <label>Title</label>
        <input type="text" class="title"/>
        <label>Contents</label>
        <textarea></textarea>
        <button>create</button>
        <div id="date"></div>


    </form>
</div>